.article {
  position: relative;
  width: calc(50%);
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
}




.profile-info {
  width: 100%;
  padding: 40px;
  background-color: #f6f6f6;
  border-radius: 20px;
  .name-box {
    // display: flex;
    // gap: 20px;
    .img-wrap {
      width: 60px;
    }
  }
}

.project-box {
  position: relative;
  width: calc(50% - 5px);
  border-radius: 20px;
  overflow: hidden;
  
  .category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 35px;
    padding: 4px 20px;
    text-align: center;
    background-color: #fff;
    border-bottom-right-radius: 20px;
  }

  .round-top {
    position: absolute;
    top: 0px;
    left: 100px;

  }
  .round-bottom {
    position: absolute;
    top: 35px;
    left: 0;
  }
}