@import 'themes/variables';  // 테마 변수 포함
@import 'themes/mixins';     // 믹스인 포함



.body {
  
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

