@import 'globals';

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  padding: 0 2rem;
  border: 1px solid #27272a0d;
  border-radius: 999px;
  font-size: .9rem;
  transform: translate(-50%, 0);
  box-shadow: 1px 3px 10px rgba(172, 172, 172, 0.15);
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu-item {
  width: 4.5rem;
  padding: .5rem 0;
  border-bottom: 1px solid transparent;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.menu-item:hover {
  font-weight: 700;
  border-bottom: 1px solid #27272a;
}