
.header {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 0 2rem;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #fff;
  font-size: .9rem;
  z-index: 10;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu-item {
  position: relative;
  width: 4.5rem;
  height: 40px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  a {
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
    transition: .4s ease;

    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      padding: .5rem 0;
      content: attr(data-text);
      transform: translate(-50%, 0);
      transition: .4s ease;
    }
  }
}


.menu-item:hover {
  a {
    transform: translateY(-100%);
    &::after {
      transform: translate(-50%, 0%);
    }
  }
  
  
  // font-weight: 700;
}

.top-right-img {
  position: absolute;
  top: 0px;
  left: 400px;
  z-index: 11;

}
.bottom-left-img {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 11;

}